body {
  background-color: var(--bgColor);
  border-left: 1rem solid var(--accentColor);
  border-right: 4px dashed var(--baseColor);
  color: var(--textColor);
  font-family: var(--fontSerif);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: var(--darkest);
//     color: var(--lightest);
//   }
// }
