.site-footer {
  background-color: var(--baseColor);
  background-image: linear-gradient(to right, #3e2f29 50%, var(--baseColor) 50%);
  color: var(--lightest);
  margin: 25vw auto 1rem;
  max-width: calc(100vw - 4rem);
  width: 100%;
  border-radius: var(--radius);
  padding: 3rem 0;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0px var(--accentColor);

  @include breakpoint-up($md) {
    margin-top: 0;
  }

  p {
    margin: 0;
    max-width: none;
    letter-spacing: 1px;
    text-align: right;
  }

  .head {
    position: absolute;
    bottom: 100%;
    right: 1rem;
    width: 25vw;

    @include breakpoint-up($md) {
      bottom: 0;
      right: 1rem;
      width: 200px;
    }

    svg {
      display: block;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .site-footer {
//     background-color: var(--lightest);
//     background-image: linear-gradient(to right, #3e2f29 50%, var(--accentColor) 50%);
//     color: var(--darkest);
//     box-shadow: 0.5rem 0.5rem 0px var(--darkest);
//   }
// }