.site-header {
  padding: 1rem 0;
  
  @include breakpoint-up($md) {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}

.site-header-contents {
  @include breakpoint-up($md) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.site-logo {
  margin-top: 0;

  @include breakpoint-up($md) {
    margin: 0;
  }

  a {
    display: block;
  }

  svg {
    display: block;
    width: 100%;

    @include breakpoint-up($sm) {
      width: 325px;
    }

    g {
      fill: var(--textColor);
    }
  }
}
