.posts {
  .posts__header {
    @include highlight-header;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.latest-posts {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 2rem;
}

.post-card {
  margin-bottom: 2rem;
  
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    border: 2px solid var(--darkest);
    border-radius: var(--radiusSmall);
    color: var(--darkest);
    text-decoration: none;
    transition: 0.1s ease;
    box-shadow: var(--shadow);
    overflow: hidden;

    &::before {
      @include pseudo-selector;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: var(--accentColor);
      transition: var(--transition);
    }

    &:hover {
      border-radius: var(--radius);
      box-shadow: var(--shadowHover);

      &::before {
        opacity: 1;
      }
    }
  }

  &:first-child > a {
    border-top-left-radius: 0 !important;
  }
}

.post-card__title {
  margin: 0;
  position: relative;
  flex: 1 1 80%;
}

.post-card__date {
  text-align: right;
  margin-bottom: 0;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .post-card {
    a {
      background-color: var(--lightest);
    }
  }
}

/** SINGLE POSTS */
.post__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 0.25rem solid var(--accentColor);

  @include breakpoint-up($sm) {
    flex-direction: row;
  }

  .post__title {
    @include highlight-header;
    margin: 0;
  }

  .post__date {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--accentColor);
    border-top-left-radius: var(--radiusSmall);
    border-top-right-radius: var(--radiusSmall);
  }
}
