---
layout: base.njk
title: Home
---
<div class="intro container">
  <div class="intro__bio">
      <p>I am a website maker from central Massachusetts, not to be confused with eastern or western Massachusetts. I freelance for a variety of companies specializing in front-end buildouts.
      </p>

      <p>You can feel free to
        <a href="mailto:jake@jakemckelvie.com">email me</a>. In fact, I encourage it.</p>

        {% image "assets/images/me.jpg", "offset-left image-polaroid image-counterclockwise", "Me sitting on a couch with my laptop", "300" %}

  </div>

  <div class="intro__posts posts">
    <h2 class="posts__header">Latest Posts</h2>
    {% include 'latest-posts.njk' %}
  </div>
</div>