---
layout: base.njk
title: Home
---
<div class="intro container">
  <div class="intro__bio">
      <p>I am a website maker from central Massachusetts, not to be confused with eastern or western Massachusetts. I freelance for a variety of companies primarily specializing in front-end buildouts, theming, templating, etc. 
      </p>

      <p>You can feel free to
        <a href="mailto:jake@jakemckelvie.com">email me</a>. In fact, I encourage it.</p>

        
      </div>
      
      <div class="intro__image">
        {% image "assets/images/me.jpg", "offset-left image-polaroid image-counterclockwise", "Me sitting on a couch with my laptop", "300" %}
      </div>
</div>