---
layout: base.njk
title: Portfolio
container: container
---


  <div class="container">
    <p>A lot of my freelance work has been done under an NDA, so as a faithful contract adherent I can't display it here. The projects listed here are ones where I was the sole designer and developer. I love working with other designers to make their vision come to life.</p>
    <div class="posts">
      {% include 'portfolio-list.njk' %}
    </div>
  </div>
