<!doctype html>
<html lang="en">

{% include 'head.njk' %}

<body>

  {% include 'header.njk' %}

  {% if container %}
  <div class="{{ container }}">
    {% endif %}

    <main>

      {% if title != "Home" %}
      <h1>{{ title }}</h1>
      {% endif %}

      {{ content | safe }}

    </main>

    {% if container %}
  </div>
  {% endif %}

  {% include 'footer.njk' %}

</body>

</html>