<header class="site-header">
  <div class="container">
    <div class="site-header-contents">
      <h1 class="site-logo">
        <a class="site-logo__link" href="/">
          {% include 'logo.svg' %}
        </a>
      </h1>
      <nav class="main-nav">
        <ul>
          <li>
            <a class="main-nav__link" href="/about">About</a>
          </li>
          <li>
            <a class="main-nav__link" href="/blog">Blog</a>
          </li>
          <li>
            <a class="main-nav__link" href="/things-i-like">Things I Like</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>