---
title: Blog Post
---
<!doctype html>
<html>

  {% include 'head.njk' %}

  <body>

    {% include 'header.njk' %}

    <main>
      <article class="post">
        <header class="post__header">
          <h1 class="post__title">{{ title }}</h1>
          <time class="post__date">{{ page.date.toLocaleDateString("en-US", {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'}) }}</time>
        </header>
        <div class="container-narrow">
          {{ content | safe }}
        </div>
      </article>
    </main>

    {% include 'footer.njk' %}

  </body>

</html>