---
title: Blog Post
---
<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/dist/css/style.css' | url }}">
  </head>

  <body>

    {% include 'header.njk' %}

    <main>
      <article class="post">
        <header class="post__header">
          <h1 class="post__title">{{ title }}</h1>
          <time class="post__date">{{ page.date.toLocaleDateString() }}</time>
        </header>
        <div class="container-narrow">
          {{ content | safe }}
        </div>
      </article>
    </main>

    {% include 'footer.njk' %}

  </body>

</html>