button {
  background-color: var(--accentColor);
  color: var(--darkest);
  border-radius: var(--radius);
  border: 2px solid var(--darkest);
  box-shadow: var(--shadow);
  transition: var(--transition);
  padding: 1rem 3rem;
  cursor: pointer;

  &:not([disabled]):hover {
    box-shadow: var(--shadowHover);
  }

  &[disabled] {
    opacity: 0.25;
    cursor: inherit;
  }
}
