p {
  max-width: 65ch;
  font-size: 1.125rem;
  margin: 0;

  + p {
    margin-top: 2rem;
  }
}

li {
  max-width: 65ch;
}

blockquote {
  border-left: 5px solid var(--accentColor);
  padding: 1rem;
}

code {
  background-color: var(--darkest);
  color: var(--lightest);
}

del {
  text-decoration-color: red;
  text-decoration-thickness: 1px;
}