.site-footer {
  background-color: var(--baseColor);
  background-image: linear-gradient(
    to right,
    #3e2f29 50%,
    var(--baseColor) 50%
  );
  color: var(--lightest);
  margin: 2rem auto 1rem;
  max-width: calc(100vw - 4rem);
  width: 100%;
  border-radius: var(--radius);
  padding: 3rem 0;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0px var(--accentColor);

  @media (min-width: 768px) {
    margin-top: 0;
  }

  p {
    margin: 0;
    max-width: none;
    letter-spacing: 1px;
    text-align: center;
    
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  .head {
    position: absolute;
    bottom: 100%;
    right: 1rem;
    width: 25vw;

    @media (min-width: 768px) {
      bottom: 0;
      right: 1rem;
      width: 200px;
    }

    svg {
      display: block;
    }
  }
}
